div#head-bar{
    display: flex;
    flex-direction: column;
    color: red;
    margin-bottom: 20px;
}

div#search-container {
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

form#search-form{
    height: 100%;
    width: 100%;
    margin: 0 40px 0 10px;
}

form#search-form input{
    display: block;
    text-align: left;
    width: 100%;
    padding: 14px;
    border: none;
    margin: 0;
    font-size: 500%;
    border-radius: 20px;
    border: solid black 2px;
}

div#head-bar button#srh-button {
    border-radius: 20px;
    border: solid black 2px;
}

div#head-bar span.material-icons{
    color:black;
}

div#head-bar div#search-tab{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div#head-bar h2{
    margin: 10px 0 10px 0;
    border-bottom: 10px solid black;
}

div#result_page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

button.search-result{
    height: 300px;
    width: 90%;
    border-radius: 20px;
    border: solid black 2px;
    padding: 13px;
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

button.search-result.profile{
    height: 200px;
}

button.search-result img.result-img{
    max-height: 270px;
    max-width: 270px;
    border-radius: 10px
}

button.search-result img.result-profile-img{
    max-height: 170px;
    max-width: 170px;
    border-radius: 10px
}

button.search-result div.text-result{
    width: 90%;
    height: 90%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

button.search-result div.text-result h3{
    margin: 0 0 5px 0;
    text-align: left;
}

button.search-result.profile h3{
    margin: 0 50px 0 50px;
    text-align: center;
}

div#people + div#challenges {
    display: none;
}