.searchbar{
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: raw;
    align-items: center;
}

.searchbar input{
    display: block;
    text-align: left;
    width: 80%;
    padding: 14px;
    border: none;
    margin-top: 8px;
    font-size: 500%;
}
button#srh-button {
    width: 18%;
    font-size: 450%;
    border-radius: 20px;
    border: solid black 2px;
    display: flex;
    flex-direction: row;
}