#noscript {
    font-size: 1000%;
    color: red;
    font-family: arial;
}

body {
    background-color: rgb(255, 255, 255);
}

section {
    margin-bottom: 22%;
}

h1 {
	font-size: 600%;
	font-family: arial;
    margin: 0 0 0 20px;
}

h2 {
	font-size: 500%;
	font-family: arial;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 40px;
}

p {
	font-size: 250%;
	font-family: arial;
}

a {
    text-decoration: none; 
}

button {
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    transition: 1s;
}

button:active {
    transform: scale(0.96);
    transition: 0.3s;
}

span.material-icons {
    height: 23px;
    width: 23px;
	transform: scale(5);
    color: rgb(255, 255, 255);
}

header {
	width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
	align-items: center;
}

header h1 {
    margin-left: 30px;
    color: #4CAF50;
}

header button {
    width: 150px;
    height: 150px;
    color: #252525;
}

header button:active{
    transform: scale(1);
    transform: rotate(45deg);
    transition: 1s;
}

footer {
	position: fixed;
	bottom: 0;
	height: 10%;
	margin-left: -1%;
	width: 101%;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    margin-bottom: -1px;
}

.progress-status {
    width: 100%;
    background-color: #dddddd;
    height: 25%;
}

.progress-bar-text {
    width: 100%;
    height: 0%;
    margin: 0;
    font-size: 35px;
    color: black;
    text-align: center;
}

.progress-bar {
    height: 100%;
    margin: 0;
    background-color: #4CAF50;
}

nav {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: center;
    background-color: #252525;
}

nav button {
	width: 30%;
    display: flex;
	justify-content: center;
	align-items: center;
    height: 100%;
}

nav button:active {
    transform: scale(0.90);
    transition: 0.2s;
}

nav .material-icons{
    color: white;
}