@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(255, 255, 255);
}

h1 {
	font-size: 600%;
	font-family: arial;
}

h2 {
	font-size: 500%;
	font-family: arial;
    margin-left: 50px;
    margin-bottom: 40px;
}

p {
	font-size: 250%;
	font-family: arial;
}

a {
    text-decoration:none; 
}

button {
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    transition: 1s;
}

button:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

span.material-icons {
	transform: scale(5);
    color: #FFFFFF;
}

span.material-icons-round {
    transform: matrix(10,0,0,10,135,200);
    color: rgb(33, 95, 35);
    display: flex;
    z-index: 8;
    margin: 0;  
    height: 23px;
    width: 23px;
}

div.flex-container {
	display: flex;
	height: 32%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: scroll;
}

img.sdg-pict {
	max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
    z-index: 7;
}

button.stg-button {
    margin: 5px;
    padding-left: 30px;
    padding-right: 20px;
    height: 100%;
}

button.stg-button:hover {
    transform: scale(1.04);
    transition: 0.5s;
}

div.stg-progress-container {
    height: 8%;
    margin: 0;
    border-radius: 20px;
    background-color: rgb(76, 175, 80,0.8);
}

p.stg-progress {
    width: 0%;
    height: 100%;
    margin: 0;
    background-color: #4CAF50;
    border-radius: 20px;
}

p.stg-progress-text {
    width: 100%;
    height: 0%;
    margin: 0;
    font-size: 20px;
    color: black;
    text-align: center;
    z-index: 9;
    vertical-align: baseline;
    padding: auto;
}

header {
	width: 101%;
    height: 140px;
    display: flex;
    justify-content: space-between;
	align-items: center;
}

header h1 {
    margin-left: 30px;
    color: #4CAF50;
}

header button {
    width: 150px;
    color: #252525;
}

header button:hover {
    transform: scale(1);
    transform: rotate(45deg);
}

footer {
	position: fixed;
	bottom: 0;
	height: 23%;
	margin-left: -1%;
	width: 101%;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}

.progress-status {
    width: 100%;
    background-color: #dddddd;
    height: 25%;
    z-index: 10;
}

p.progress-bar-text {
    width: 100%;
    height: 0%;
    margin: 0;
    font-size: 30px;
    color: black;
    text-align: center;
    z-index: 11;
    vertical-align: baseline;
    padding: auto;
}

p.progress-bar {
    width: 0%;
    height: 100%;
    margin: 0;
    background-color: #4CAF50;
}

nav {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: center;
    background-color: #252525;
    z-index: 9;
}

nav button {
	width: 30%;
    display: flex;
	justify-content: center;
	align-items: center;
    height: 100%;
}